# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Upload files
uploads/

# macOS
.DS_Store

# Windows
Thumbs.db
